<div class="row g-0 justify-content-center mx-3">
  <main class="py-5 col-9">
    <app-breadcrumb></app-breadcrumb>
    <div class="row gap-5">
      <div class="col-12">
        <div class="d-flex align-items-center pb-4 mb-5">
          <h4 class="mb-0 fw-bolder">My Orders</h4>
        </div>
        <div class="row g-3 mb-5">
          <app-order-item
            *ngFor="let order of ordersService.orders"
            [order]="order"
          ></app-order-item>
        </div>
      </div>
    </div>
  </main>
</div>
